In [1]:
import pandas as pd

In [2]:
# Guardo las primeras 100000 filas porque si no es muy extenso 
df = pd.read_csv("C://Users/lucho/Desktop/Programacion/Python/Linkedin Data Science/base_datos_2008.csv", nrows = 100000)

In [3]:
# Muestras las primeras filas 
df.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [4]:
# Muestras las ultimas filas 
df.tail()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [5]:
# Desordenar los datos del dataframe
df = df.sample(frac = 1)
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
93836,2008,1,31,4,1721.0,1635,1922.0,1845,WN,1865,...,4.0,7.0,0,NaN,0,0.0,0.0,0.0,0.0,37.0
88344,2008,1,30,3,1755.0,1735,2014.0,2000,WN,273,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
17698,2008,1,8,2,1258.0,1255,1659.0,1710,WN,1058,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
55410,2008,1,20,7,1733.0,1730,1953.0,2000,WN,609,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
10013,2008,1,6,7,1412.0,1330,1647.0,1615,WN,554,...,3.0,10.0,0,NaN,0,27.0,0.0,0.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60220,2008,1,21,1,654.0,655,809.0,805,WN,1944,...,4.0,26.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
98989,2008,1,5,6,1540.0,1500,1728.0,1705,XE,54,...,4.0,9.0,0,NaN,0,10.0,0.0,0.0,0.0,13.0
30467,2008,1,12,6,1013.0,1015,1147.0,1155,WN,854,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
36541,2008,1,14,1,1411.0,1415,1550.0,1555,WN,42,...,3.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
57843,2008,1,21,1,1138.0,1135,1258.0,1255,WN,108,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [6]:
# Muestra las columnas del dataframe en un vector
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [7]:
# Nos muestra solo una columna especifica ("DepTime")
df.DepTime

93836    1721.0
88344    1755.0
17698    1258.0
55410    1733.0
10013    1412.0
          ...
60220     654.0
98989    1540.0
30467    1013.0
36541    1411.0
57843    1138.0
Name: DepTime, Length: 100000, dtype: float64

In [8]:
# Nos muestra cuantas filas y columnas tiene nuestro dataframe
df.shape

(100000, 29)

In [9]:
# Nos muestra el tipo de cada columna
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [10]:
# Nos muestra los valores en un array
df.values

array([[2008, 1, 31, ..., 0.0, 0.0, 37.0],
       [2008, 1, 30, ..., nan, nan, nan],
       [2008, 1, 8, ..., nan, nan, nan],
       ...,
       [2008, 1, 12, ..., nan, nan, nan],
       [2008, 1, 14, ..., nan, nan, nan],
       [2008, 1, 21, ..., nan, nan, nan]], dtype=object)

In [11]:
df2 = df.head(10)

In [12]:
df2

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
93836,2008,1,31,4,1721.0,1635,1922.0,1845,WN,1865,...,4.0,7.0,0,NaN,0,0.0,0.0,0.0,0.0,37.0
88344,2008,1,30,3,1755.0,1735,2014.0,2000,WN,273,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
17698,2008,1,8,2,1258.0,1255,1659.0,1710,WN,1058,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
55410,2008,1,20,7,1733.0,1730,1953.0,2000,WN,609,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
10013,2008,1,6,7,1412.0,1330,1647.0,1615,WN,554,...,3.0,10.0,0,NaN,0,27.0,0.0,0.0,0.0,5.0
31325,2008,1,12,6,1109.0,1110,1227.0,1235,WN,635,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
10030,2008,1,6,7,1041.0,1040,1250.0,1300,WN,3831,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
86232,2008,1,29,2,2053.0,2050,2050.0,2055,WN,2792,...,5.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
77795,2008,1,27,7,1236.0,1145,1319.0,1235,WN,18,...,3.0,5.0,0,NaN,0,44.0,0.0,0.0,0.0,0.0
40578,2008,1,15,2,1159.0,1205,1405.0,1440,WN,1319,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

# Filtrado en pandas

In [13]:
# Nos muestra los valores de una columna especifica
df = pd.read_csv("C://Users/lucho/Desktop/Programacion/Python/Linkedin Data Science/base_datos_2008.csv", nrows = 100000)
df["ArrDelay"].head()

0   -14.0
1     2.0
2    14.0
3    -6.0
4    34.0
Name: ArrDelay, dtype: float64

In [14]:
# Obtencion de informacion por fila
df[10:20]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
10,2008,1,3,4,706.0,700,916.0,915,WN,100,...,5.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
12,2008,1,3,4,1426.0,1430,1426.0,1425,WN,829,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
13,2008,1,3,4,715.0,715,720.0,710,WN,1016,...,7.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
14,2008,1,3,4,1702.0,1700,1651.0,1655,WN,1827,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,2272,...,6.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
17,2008,1,3,4,754.0,745,940.0,955,WN,1144,...,5.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
19,2008,1,3,4,1416.0,1325,1512.0,1435,WN,54,...,2.0,5.0,0,NaN,0,12.0,0.0,0.0,0.0,25.0

In [15]:
# Nos muestra los vulos que hallan tenido mas de una hora de delay
df[df["ArrDelay" ] > 60].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,362,...,6.0,7.0,0,NaN,0,5.0,0.0,0.0,0.0,59.0
37,2008,1,3,4,1812.0,1650,1927.0,1815,WN,422,...,6.0,11.0,0,NaN,0,3.0,0.0,0.0,0.0,69.0
49,2008,1,3,4,2245.0,1730,2354.0,1850,WN,186,...,3.0,7.0,0,NaN,0,282.0,0.0,0.0,0.0,22.0
77,2008,1,3,4,958.0,900,1052.0,950,WN,1574,...,4.0,14.0,0,NaN,0,0.0,0.0,4.0,0.0,58.0

In [16]:
# Nos muestra los vuelos que hallan salido de Phoenix
df[df["Origin"] == "PHX"].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1331,2008,1,3,4,717.0,715,812.0,815,WN,290,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1332,2008,1,3,4,2235.0,2155,2330.0,2255,WN,408,...,4.0,9.0,0,NaN,0,2.0,0.0,0.0,0.0,33.0
1333,2008,1,3,4,1438.0,1405,1536.0,1505,WN,555,...,3.0,14.0,0,NaN,0,20.0,0.0,0.0,0.0,11.0
1334,2008,1,3,4,1230.0,1230,1324.0,1335,WN,647,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1335,2008,1,3,4,1841.0,1720,1938.0,1825,WN,746,...,6.0,10.0,0,NaN,0,11.0,0.0,0.0,0.0,62.0

In [17]:
# Mas de una condicion ("&" = Cumplir las dos condiciones) ("|" = cumplir una de las dos)
df[(df["Origin"] == "PHX") & df["ArrDelay"] < 60].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [18]:
# Nos deja los valores que estan en HOU o ATL
df[df.Origin.isin(["HOU", "ATL"])].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3269,2008,1,4,5,1910.0,1910,2025.0,2025,WN,823,...,6.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3270,2008,1,4,5,1345.0,1345,1453.0,1500,WN,901,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3271,2008,1,4,5,736.0,735,839.0,850,WN,957,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3272,2008,1,4,5,1603.0,1550,1647.0,1635,WN,231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3273,2008,1,4,5,2105.0,2105,2151.0,2150,WN,570,...,7.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [19]:
# Nos muestra solos los null de ArrDelay
df[pd.isna(df["ArrDelay"])].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN

In [20]:
# Nos muestra los valores que son nulos en ArrDelay
len(df[pd.isna(df["ArrDelay"])])

1302

# Transformaciones en bases de datos

In [21]:
df = pd.read_csv("C://Users/lucho/Desktop/Programacion/Python/Linkedin Data Science/base_datos_2008.csv", nrows = 100000)

In [22]:
# Creacion de nuevas columnas
df["HoursDelay"] = round(df["ArrDelay"] / 60)
df["HoursDelay"].head()

0   -0.0
1    0.0
2    0.0
3   -0.0
4    1.0
Name: HoursDelay, dtype: float64

In [23]:
# Eliminacion de columna
del(df["HoursDelay"])
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [24]:
# Eliminacion de varias columnas esto nos muestra la tabla pero no la guarda si hay que guardarla ponemos el (implace en true)
df.drop(["Diverted", "Cancelled", "Year"], axis = 1,)

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,...,TPA,810,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,BWI,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,BWI,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,25,5,2204.0,1935,106.0,2257,XE,7676,N11181,...,OKC,866,4.0,17.0,NaN,0.0,0.0,0.0,0.0,129.0
99996,1,26,6,1933.0,1935,2234.0,2257,XE,7676,N16170,...,OKC,866,4.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
99997,1,27,7,2047.0,1935,2400.0,2257,XE,7676,N12167,...,OKC,866,6.0,18.0,NaN,23.0,0.0,0.0,0.0,40.0
99998,1,28,1,1956.0,1935,2308.0,2257,XE,7676,N16170,...,OKC,866,5.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN
99999,1,29,2,1938.0,1935,2308.0,2257,XE,7676,N11176,...,OKC,866,5.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# Eliminacion de filas (en este caso la primera) pero no lo guarda acordarse del implace = True
df.drop(0)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [26]:
# Nos eliminas las filas desde la 0 a la 10000 pero no lo guarda acordarse del implace = True
df.drop(range(0,10000), inplace = True)
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
10000,2008,1,6,7,1244.0,1245,1405.0,1405,WN,776,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
10001,2008,1,6,7,1547.0,1455,1655.0,1600,WN,173,...,4.0,6.0,0,NaN,0,21.0,0.0,3.0,0.0,31.0
10002,2008,1,6,7,1601.0,1525,1711.0,1630,WN,232,...,3.0,8.0,0,NaN,0,7.0,0.0,5.0,0.0,29.0
10003,2008,1,6,7,2046.0,2000,2156.0,2105,WN,343,...,5.0,6.0,0,NaN,0,0.0,0.0,22.0,0.0,29.0
10004,2008,1,6,7,1137.0,1130,1241.0,1235,WN,769,...,4.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [27]:
df = pd.read_csv("C://Users/lucho/Desktop/Programacion/Python/Linkedin Data Science/base_datos_2008.csv", nrows = 100000)

In [28]:
# Cracion de dataframes que solo tiene los valores que tiene de origen en HOU y en PHX
dfHOU = df[df.Origin == "HOU"]
dfPHX = df[df.Origin == "PHX"]

In [29]:
# Sumar la tabla de PHX con la de HOU y guardarla
newdf = dfHOU.append(dfPHX)
newdf.Origin

3269     HOU
3270     HOU
3271     HOU
3272     HOU
3273     HOU
        ...
93219    PHX
93220    PHX
93221    PHX
99834    PHX
99835    PHX
Name: Origin, Length: 9393, dtype: object

# GroupBy

In [30]:
df = pd.read_csv("C://Users/lucho/Desktop/Programacion/Python/Linkedin Data Science/base_datos_2008.csv", nrows= 100000)

In [31]:
# Nos da el retraso maximo que hay en cada dia de la semana 
df.groupby(by = "DayOfWeek")["ArrDelay"].max()

DayOfWeek
1    431.0
2    360.0
3    422.0
4    486.0
5    364.0
6    500.0
7    367.0
Name: ArrDelay, dtype: float64

In [32]:
# Nos da la media de retraso que hay en cada dia de la semana 
df.groupby(by = "DayOfWeek")["ArrDelay"].mean()

DayOfWeek
1     4.568960
2     0.446479
3    -1.646511
4    13.387922
5     7.684948
6     2.069280
7    12.190625
Name: ArrDelay, dtype: float64

In [33]:
# Nos da el retraso minimo que hay en cada dia de la semana 
df.groupby(by = "DayOfWeek")["ArrDelay"].min()

DayOfWeek
1   -56.0
2   -48.0
3   -48.0
4   -45.0
5   -52.0
6   -49.0
7   -57.0
Name: ArrDelay, dtype: float64

In [34]:
# Nos da la cantidad de vuelos que hay por dias de semana
df.groupby(by = "DayOfWeek")["ArrDelay"].count()

DayOfWeek
1    14349
2    14471
3    14504
4    16774
5    14350
6    11172
7    13078
Name: ArrDelay, dtype: int64

In [35]:
# Nos da el resumen estadistico de todo los que pasa en cada dia de la semana 
df.groupby(by = "DayOfWeek")["ArrDelay"].describe()

             count       mean        std   min   25%  50%   75%    max
DayOfWeek
1          14349.0   4.568960  29.047008 -56.0  -9.0 -3.0   9.0  431.0
2          14471.0   0.446479  21.617710 -48.0 -10.0 -4.0   5.0  360.0
3          14504.0  -1.646511  18.464538 -48.0 -11.0 -5.0   3.0  422.0
4          16774.0  13.387922  38.490537 -45.0  -7.0  2.0  19.0  486.0
5          14350.0   7.684948  28.156892 -52.0  -7.0  0.0  14.0  364.0
6          11172.0   2.069280  27.866895 -49.0 -11.0 -4.0   6.0  500.0
7          13078.0  12.190625  41.925311 -57.0  -9.0  0.0  16.0  367.0

In [36]:
# Nos da la media de "ArrDelay" y "DepDelay" y nos lo muestra en la misma tabla por dia de la semana
df.groupby(by = "DayOfWeek")["ArrDelay","DepDelay"].mean()

<ipython-input-36-62d4e0cf39a2>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(by = "DayOfWeek")["ArrDelay","DepDelay"].mean()

            ArrDelay   DepDelay
DayOfWeek
1           4.568960   9.141704
2           0.446479   5.192300
3          -1.646511   3.680816
4          13.387922  16.511031
5           7.684948  12.067975
6           2.069280   8.080861
7          12.190625  17.135919

In [37]:
# Rango de valores para cada dia de la semana
df.groupby(by = "DayOfWeek")["ArrDelay"].max() - df.groupby(by = "DayOfWeek")["ArrDelay"].min()

DayOfWeek
1    487.0
2    408.0
3    470.0
4    531.0
5    416.0
6    549.0
7    424.0
Name: ArrDelay, dtype: float64

In [38]:
dfPHXHOU = df[df.Origin.isin(["PHX","HOU"])]

In [39]:
#Nos muestra la media de retraso por dia de la semana y por destino de viaje 
dfPHXHOU.groupby(by = ["DayOfWeek", "Origin"])["ArrDelay"].mean()

DayOfWeek  Origin
1          HOU        1.767764
           PHX        5.707379
2          HOU        1.624348
           PHX       -2.264706
3          HOU        3.026178
           PHX       -4.304183
4          HOU       21.047535
           PHX       11.700203
5          HOU        6.853448
           PHX        8.018844
6          HOU       -0.967172
           PHX        1.729508
7          HOU        7.842629
           PHX       12.827493
Name: ArrDelay, dtype: float64

In [40]:
# Guardamos el groupby
mygroupby = dfPHXHOU.groupby(by = ["DayOfWeek", "Origin"])["ArrDelay"]

In [41]:
mygroupby.max()

DayOfWeek  Origin
1          HOU       119.0
           PHX       179.0
2          HOU       124.0
           PHX       159.0
3          HOU       148.0
           PHX       127.0
4          HOU       254.0
           PHX       227.0
5          HOU       232.0
           PHX       216.0
6          HOU       160.0
           PHX       156.0
7          HOU       249.0
           PHX       367.0
Name: ArrDelay, dtype: float64

In [42]:
mygroupby.describe()

                  count       mean        std   min   25%  50%    75%    max
DayOfWeek Origin
1         HOU     577.0   1.767764  18.789259 -27.0  -7.0 -3.0   4.00  119.0
          PHX     786.0   5.707379  26.738429 -42.0  -9.0 -1.0  15.00  179.0
2         HOU     575.0   1.624348  17.142102 -28.0  -7.0 -2.0   6.00  124.0
          PHX     782.0  -2.264706  17.187384 -38.0 -11.0 -5.0   2.00  159.0
3         HOU     573.0   3.026178  19.399761 -30.0  -7.0 -1.0   6.00  148.0
          PHX     789.0  -4.304183  15.210661 -39.0 -13.0 -6.0   2.00  127.0
4         HOU     568.0  21.047535  45.345153 -25.0  -4.0  3.0  26.00  254.0
          PHX     984.0  11.700203  30.616596 -37.0  -7.0  3.0  18.00  227.0
5         HOU     580.0   6.853448  23.039672 -27.0  -5.0  0.5  12.25  232.0
          PHX     796.0   8.018844  27.720590 -37.0  -9.0  1.0  17.00  216.0
6         HOU     396.0  -0.967172  15.553141 -32.0  -9.0 -4.0   4.00  160.0
          PHX     610.0   1.729508  25.092877 -42.0 -12.0 -4.5   7.00  156.0
7         HOU     502.0   7.842629  25.473346 -28.0  -5.0  1.0  11.00  249.0
          PHX     742.0  12.827493  42.450669 -34.0 -10.0 -0.5  18.00  367.0

#                               Datos duplicados y datos nulls

In [43]:
# 1e6 = 1,000,000
df = pd.read_csv("C://Users/lucho/Desktop/Programacion/Python/Linkedin Data Science/base_datos_2008.csv", nrows= 1e6)

## Datos duplicados

In [44]:
# Creamos el dataframe duplicado por el mismo para tener la misma cantidad de valores duplicados
df_duplicated = df.append(df)

In [45]:
# Desordenamos los datos
df_duplicated = df_duplicated.sample(frac = 1)
df_duplicated

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
435124,2008,1,3,4,1739.0,1626,1939.0,1827,NW,655,...,10.0,24.0,0,NaN,0,0.0,8.0,0.0,0.0,64.0
919054,2008,2,6,3,1548.0,1448,1647.0,1600,EV,4472,...,5.0,17.0,0,NaN,0,8.0,39.0,0.0,0.0,0.0
526103,2008,1,11,5,1544.0,1530,1648.0,1655,AA,2293,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
284097,2008,1,23,3,824.0,830,1002.0,1003,US,1847,...,15.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
634366,2008,2,11,1,2029.0,2005,2202.0,2200,WN,628,...,5.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77499,2008,1,27,7,1429.0,1430,1649.0,1650,WN,406,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
677111,2008,2,24,7,1132.0,1120,1343.0,1330,WN,1445,...,5.0,22.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
179933,2008,1,7,1,1207.0,1205,1315.0,1315,OO,5844,...,6.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
727133,2008,2,1,5,1146.0,1147,1304.0,1303,YV,7161,...,4.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
100497,2008,1,12,6,953.0,945,1251.0,1233,XE,7753,...,12.0,16.0,0,NaN,0,8.0,0.0,10.0,0.0,0.0

In [46]:
# Eliminamos los duplicados
dfclean = df_duplicated.drop_duplicates()
dfclean

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
435124,2008,1,3,4,1739.0,1626,1939.0,1827,NW,655,...,10.0,24.0,0,NaN,0,0.0,8.0,0.0,0.0,64.0
919054,2008,2,6,3,1548.0,1448,1647.0,1600,EV,4472,...,5.0,17.0,0,NaN,0,8.0,39.0,0.0,0.0,0.0
526103,2008,1,11,5,1544.0,1530,1648.0,1655,AA,2293,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
284097,2008,1,23,3,824.0,830,1002.0,1003,US,1847,...,15.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
634366,2008,2,11,1,2029.0,2005,2202.0,2200,WN,628,...,5.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610643,2008,2,4,1,612.0,600,734.0,730,WN,451,...,6.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
700001,2008,2,18,1,2122.0,2132,2255.0,2312,XE,7663,...,6.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
750459,2008,2,5,2,610.0,610,823.0,803,OH,5303,...,4.0,13.0,0,NaN,0,0.0,0.0,20.0,0.0,0.0
675553,2008,2,24,7,1016.0,1020,1012.0,1010,WN,33,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
248771,2008,1,29,2,NaN,1441,NaN,1603,UA,1215,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN

In [47]:
# Como habia valores duplicados en el dataframe original nos da  false
len(dfclean) == len(df)

False

## Drop suplicates

In [48]:
# Guardamos una dataframe que guarda los valores de un solo dia del mes
dfclean.drop_duplicates(subset = "DayofMonth")

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
435124,2008,1,3,4,1739.0,1626,1939.0,1827,NW,655,...,10.0,24.0,0,NaN,0,0.0,8.0,0.0,0.0,64.0
919054,2008,2,6,3,1548.0,1448,1647.0,1600,EV,4472,...,5.0,17.0,0,NaN,0,8.0,39.0,0.0,0.0,0.0
526103,2008,1,11,5,1544.0,1530,1648.0,1655,AA,2293,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
284097,2008,1,23,3,824.0,830,1002.0,1003,US,1847,...,15.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
420871,2008,1,27,7,1654.0,1655,1807.0,1819,MQ,4823,...,4.0,26.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
853355,2008,2,5,2,1132.0,1136,1319.0,1316,US,226,...,9.0,28.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
916857,2008,2,24,7,2157.0,2125,2240.0,2214,EV,4402,...,4.0,23.0,0,NaN,0,26.0,0.0,0.0,0.0,0.0
14039,2008,1,7,1,736.0,735,846.0,855,WN,547,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
667389,2008,2,21,4,1649.0,1635,1800.0,1755,WN,536,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
604306,2008,1,14,1,1139.0,1140,1243.0,1243,DL,795,...,5.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
827267,2008,2,10,7,1311.0,1318,1506.0,1503,UA,562,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
592272,2008,1,4,5,1101.0,1100,1235.0,1227,DL,1097,...,11.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
137740,2008,1,12,6,953.0,955,1005.0,1013,YV,2724,...,5.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
129668,2008,1,1,2,1436.0,1436,1455.0,1506,YV,2853,...,8.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
658595,2008,2,19,2,711.0,715,838.0,840,WN,1391,...,10.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
461575,2008,1,31,4,926.0,925,1043.0,1101,9E,3763,...,10.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999342,2008,2,18,1,1114.0,1110,1301.0,1240,MQ,4658,...,10.0,27.0,0,NaN,0,0.0,0.0,21.0,0.0,0.0
267221,2008,1,9,3,1442.0,1445,1628.0,1642,US,1494,...,5.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
475718,2008,1,17,4,700.0,700,857.0,850,9E,5933,...,3.0,22.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
401308,2008,1,25,5,1520.0,1405,1709.0,1605,MQ,3970,...,8.0,11.0,0,NaN,0,38.0,26.0,0.0,0.0,0.0
884094,2008,2,29,5,708.0,715,832.0,848,US,1243,...,3.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
760161,2008,2,22,5,2135.0,2000,2307.0,2041,OH,4977,...,11.0,64.0,0,NaN,0,95.0,0.0,51.0,0.0,0.0
808017,2008,2,28,4,619.0,620,801.0,805,OO,3771,...,5.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
483882,2008,1,16,3,557.0,605,952.0,950,AA,416,...,11.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
752469,2008,2,8,5,1511.0,1515,1626.0,1640,OH,5441,...,3.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
880083,2008,2,26,2,1543.0,1445,1959.0,1714,US,754,...,6.0,113.0,0,NaN,0,0.0,0.0,113.0,0.0,52.0
740554,2008,2,20,3,1440.0,1402,1613.0,1536,YV,7419,...,8.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,37.0
603707,2008,1,13,7,1744.0,1645,1952.0,1851,DL,1691,...,8.0,10.0,0,NaN,0,0.0,0.0,2.0,0.0,59.0
215668,2008,1,30,3,725.0,725,905.0,844,OO,5555,...,12.0,15.0,0,NaN,0,0.0,0.0,0.0,0.0,21.0
583407,2008,1,2,3,2108.0,2050,2340.0,2329,CO,467,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
788365,2008,2,15,5,1500.0,1455,1546.0,1541,OO,6579,...,4.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [49]:
# Nos da vacio porque no hay ningun valor en nuestra fila que no tenga ningun dato faltante
df.dropna()

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [50]:
# Thresh nos deja elegir cuantas columnas queremos con valores null en este caso queremos que 25% tengan null
df.dropna(thresh = 25)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [51]:
# Aca podemos ver que nos daja el 25% de todo
df.dropna(thresh = 25)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [52]:
# borrar los nulls por nombre de columna
df.dropna(subset = ["CancellationCode"])

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999913,2008,2,11,1,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
999919,2008,2,17,7,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999961,2008,2,17,7,NaN,1445,NaN,1630,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999971,2008,2,22,5,NaN,1235,NaN,1415,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,NaN,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN